@use "../0-abstracts/media" as m;

main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,0);
    p{
        margin: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    button{
        margin-right: 0.5rem;
    }
    .menuh {
        margin: 1px;
        padding-right: 0.5rem;
        display: flex;
        flex-direction: row;
    }
    .displayimg{
        width: 85vh;
        height: auto;
        padding: 2px;
        background-color: gray;
        img{
            max-width: 100%;
        }
    }

}

@include m.for-desktop-up (900px) {  
   
    }  

@include m.stop-top-overflow (900px,550px) {
    
}
